*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
    background-color: #1A1818;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.85);
}

.content{
    margin-left: 500px;
    margin-top: 6%;
    position: relative;
    width: 1000px;
    height: 900px;
    background-color: #8e8067;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-50deg);
    // animation: spiner 20s infinite linear;

    &::after{
        content: '';
        position: absolute;
        width: 900px;
        height: 900px;
        background-color: #8e8067;
        border: 1px solid black;
        left: 0;
        transform: rotateX(0deg) rotateY(-90deg) translate3d(451px, 0px, 450px);
    }

    &::before{
        content: '';
        position: absolute;
        width: 1000px;
        height: 900px;
        background-color: #23180f;
        left: 0;
        border: 1px solid black;
        transform: rotateX(90deg) rotateY(-0deg) translate3d(1px, 451px, -450px);
        background-image: url('../img/floor1.png');
        background-position: center;
        background-size: 100% 300px;
    }

    & .wall{
        transform-style: preserve-3d;
        position: absolute;
        width: 900px;
        height: 900px;
        background-color: #94691e;
        border: 1px solid black;
        left: 0;
        transform: rotateX(0deg) rotateY(-90deg) translate3d(450px, 0px, 500px);

        &::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 900px;
            border: 1px solid black;
            background-color: #665c4a;
            left: 0;
            transform: rotateX(0deg) rotateY(-90deg) translate3d(-25px, 0px, -873px);
        }

        &::after{
            content: '';
            position: absolute;
            width: 50px;
            height: 900px;
            background-color: #665c4a;
            border: 1px solid black;
            left: 0;
            transform: rotateY(90deg) rotateX(-90deg) translate3d(25px, -423px, -451px);
        }
    }

    & .walltwo{
        position: absolute;
        width: 1050px;
        height: 900px;
        background-color: #8e8067;
        border: 1px solid black;
        transform-style: preserve-3d;
        transform: translate3d(-25px, 0px, -50px);

        &::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 900px;
            background-color: #665c4a;
            border: 1px solid black;
            left: 0;
            transform: rotateX(0deg) rotateY(-90deg) translate3d(25px, -1px, -1025px);
        }

        &::after{
            content: '';
            position: absolute;
            width: 50px;
            height: 1050px;
            background-color: #665c4a;
            border: 1px solid black;
            left: 0;
            transform: rotateY(90deg) rotateX(-90deg) translate3d(-26px, -500px, -527px);
        }
    }

    & .floor{
        transform-style: preserve-3d;
        position: absolute;
        width: 1050px;
        height: 950px;
        background-color: #23180f;
        left: 0;
        border: 1px solid black;
        transform: rotateX(90deg) rotateY(-0deg) translate3d(-50px, 425px, -500px);
        background-position: center;
        background-size: 100% 300px;

        &::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 950px;
            border: 1px solid black;
            background-color: #312b21;
            left: 0;
            transform: rotateX(0deg) rotateY(-90deg) translate3d(24px, 0, -1025px);
        }

        &::after{
            content: '';
            position: absolute;
            width: 1050px;
            height: 50px;
            border: 1px solid black;
            background-color: #312b21;
            left: 0;
            transform: rotateX(90deg) rotateY(-0deg) translate3d(0, 25px, -925px);
        }

    }

    & .mousePadKeyboardMouse{
        transform-style: preserve-3d;
        position: absolute;
        height: 180px;
        width: 500px;
    }
}

@keyframes spiner {
    0%{
        transform: rotateX(-30deg) rotateY(-0deg);
    }

    100%{
        transform: rotateX(-30deg) rotateY(-360deg);
    }
}

@media (max-width: 1920px){
    body{
        transform: scale(0.615);
    }

    .content{
        margin-top: -5.5% !important;
    }
}

// @media (max-width: 1920px){
//     body{
//         transform: scale(0.77);
//     }

//     .content{
//         margin-top: 0 !important;
//     }
// }