*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
    background-color: #1A1818;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    margin-left: 500px;
    margin-top: 8%;
    position: relative;
    width: 1000px;
    height: 900px;
    background-color: #f5deb362;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-50deg);
    // animation: spiner 20s infinite linear;

    &::after{
        content: '';
        position: absolute;
        width: 900px;
        height: 900px;
        background-color: #f5deb362;
        left: 0;
        transform: rotateX(0deg) rotateY(-90deg) translate3d(451px, 0px, 450px);
    }

    &::before{
        content: '';
        position: absolute;
        width: 1000px;
        height: 900px;
        background-color: #352d27;
        left: 0;
        transform: rotateX(90deg) rotateY(-0deg) translate3d(1px, 451px, -450px);
        background-image: url('../img/floor3.png');
        background-position: center;
        background-size: 100% 300px;
    }

    & .mousePadKeyboardMouse{
        transform-style: preserve-3d;
        position: absolute;
        height: 180px;
        width: 500px;
    }
}

@keyframes spiner {
    0%{
        transform: rotateX(-30deg) rotateY(-0deg);
    }

    100%{
        transform: rotateX(-30deg) rotateY(-360deg);
    }
}

@media (max-width: 1920px){
    body{
        transform: scale(0.77);
    }

    .content{
        margin-top: 0 !important;
    }
}

// @media (max-width: 1920px){
//     body{
//         transform: scale(0.77);
//     }

//     .content{
//         margin-top: 0 !important;
//     }
// }