.mousePad{
    transform-style: preserve-3d;
    position: absolute;
    height: 180px;
    width: 500px;
    background-color: hsl(0, 0%, 12%);
    transform: rotateX(90deg) translate3d(30px, 290px, -92px);

    & .mousePadTop{
        transform-style: preserve-3d;
        position: absolute;
        height: 180px;
        width: 500px;
        background-color: hsl(0, 0%, 18%);
        transform: rotateX(0deg) translate3d(0px, 0px, 5px);
    }

    & .mousePadLeft{
        height: 180px;
        width: 10px;
        position: absolute;
        background-color: hsl(0, 0%, 20%);
        transform: rotateY(90deg) translate3d(0px, 0px, -5px);
    }

    & .mousePadRight{
        height: 180px;
        width: 10px;
        position: absolute;
        background-color: hsl(0, 0%, 11%);
        right: 0;
        transform: rotateY(90deg) translate3d(0px, 0px, 5px);
    }

    & .mousePadBottom{
        height: 500px;
        width: 3px;
        position: absolute;
        background-color: hsl(0, 0%, 14%);
        transform: rotateY(90deg) rotateX(90deg) translate3d(-3.6px, 250px, 72px);
    }

    & .mousePadTopTop{
        height: 500px;
        width: 3px;
        position: absolute;
        background-color: hsl(0, 0%, 11%);
        transform: rotateY(90deg) rotateX(90deg) translate3d(-3.6px, 249px, 250px);
    }
}